button.sdc--my-button {
  margin: 0;
  box-shadow: 1px 1px 2px #000c;
}
button.sdc--my-button svg {
  width: 30px;
  height: 30px;
  padding-left: 5px;
  vertical-align: bottom;
  fill: white;
}
button.sdc--my-button:focus svg,
button.sdc--my-button:hover svg {
  fill: black;
}
